@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap");
.header__mobile,
.footer__inner-adap,
.footer__inner-mobile {
  display: none;
}

body {
  font-family: 'Mulish';
  color: #664B42;
}

.header__container {
  max-width: 1480px !important;
}

.header__container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.header__container .logo img {
  position: relative;
  margin-top: -20px;
}

.navbar {
  display: none;
}

.container {
  max-width: 1800px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header__mobile .flex__row {
  display: flex;
  justify-content: space-between;
}

.header__header {
  justify-content: space-between;
  padding-top: 30px;
}

.flex {
  display: flex;
  align-items: center;
}

.header {
  background-color: #F7F7F7;
}

.header .block__l,
.header .block__r {
  width: 360px;
  justify-content: space-between;
}

.lang {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.lang::after {
  content: url("../img/header/lang__arrow.svg");
  position: absolute;
  margin-left: 5px;
}

.media {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.tel {
  font-weight: 800;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #664B42;
}

hr {
  border-bottom: 1px solid #A4A4A4;
  width: 100%;
  height: 1px;
}

.header__nav {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.nav__body {
  width: 800px;
  position: relative;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 0px 55px;
}

.nav__list {
  justify-content: space-between;
}

.nav__list li {
  padding: 12px 0px;
}

.nav__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #664B42;
  transition: .5s;
}

.nav__item:hover {
  color: #FD9F32;
  text-decoration: underline;
}

.dropdown:hover .dropdown__body {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.dropdown__body {
  transition: all 0.4s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  left: 0;
  width: 800px;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 0px 45px;
  z-index: 100;
}

.dropdown__list {
  justify-content: space-between;
  padding: 40px 12px;
}

.list__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list__body img {
  width: 50px;
  height: 50px;
}

.dropdown__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #664B42;
  position: relative;
  transition: .5s;
}

.dropdown__item:hover {
  color: #FD9F32;
}

.dropdown__item:hover::after {
  content: url("../img/header/nav__arrow.svg");
  position: absolute;
  margin-left: 10px;
}

.section__1 {
  min-width: auto;
  min-height: 0;
  background: url("../img/section__1/bg.png");
  background-size: cover;
  padding-bottom: 180px;
}

.section__1 .container {
  max-width: 1730px;
}

.title__block {
  display: inline-flex;
  margin-left: 75px;
}

.title__block img {
  position: relative;
  z-index: 10;
}

.title__block .title {
  font-weight: 800;
  font-size: 55px;
  line-height: 95%;
  max-width: 700px;
  color: #B69D86;
  margin-left: 15px;
}

.title__block .title .yellow {
  color: #FD9F32;
}

.section__1 .section__row {
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: -40px;
}

.swiper__cards {
  width: 1170px;
  min-height: 500px;
  position: relative;
}

.swiper__cards .swiper-horizontal > .swiper-pagination-bullets, .swiper__cards .swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 15%;
  left: 7%;
  width: fit-content;
  z-index: 10;
  position: absolute;
}

.swiper__cards span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  position: relative;
  background-color: #FD9F32;
  margin: 0px 10px;
}

.swiper__cards span.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 100em;
  width: 30px;
  height: 30px;
  z-index: 1;
  border: 1px solid #FD9F32;
}

.swiper__cards span.swiper-pagination-bullet {
  border-radius: 100em;
  height: 10px;
  width: 10px;
  background-color: #B69D86;
}

.card {
  width: 1170px;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-position: bottom !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card .card__body {
  max-width: 550px;
  margin-left: 80px;
}

.card .card__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
  margin-top: 30px;
}

.card .card__text {
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  margin-top: 15px;
}

.yellow__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 54px;
  background: #FD9F32;
  box-shadow: 13px 4px 30px rgba(203, 173, 149, 0.45);
  border-radius: 6px;
  font-weight: 800;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin-top: 30px;
  transition: all .5s;
}

.yellow__btn:hover {
  box-shadow: 3px 4px 30px rgba(203, 173, 149, 0.8), 13px 4px 30px rgba(203, 173, 149, 0.45);
}

.card1 {
  background: url("../img/section__1/card1__bg.png");
}

.card2 {
  background: url("../img/section__1/card2__bg.png");
}

.section__1-content {
  flex-direction: column;
  max-width: 480px;
  align-items: baseline;
  margin-top: -40px;
  padding-left: 20px;
}

.video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video .play-yt {
  display: inline-flex;
  position: absolute;
  cursor: pointer;
}

.video .yt-video {
  background-image: url("../img/section__1/video__bg.png");
  background-size: cover;
}

.description {
  margin-top: 50px;
}

.description__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 110%;
  color: #50220F;
}

.description__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #776157;
  margin-top: 20px;
}

.descripion__footer {
  margin-top: 20px;
  justify-content: space-between;
}

.description__autog .flex {
  margin-left: 10px;
  flex-direction: column;
}

.director {
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #776157;
}

.director__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #50220F;
}

.btn__arrow {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #FD9F32;
  position: relative;
  transition: .5s;
}

.btn__arrow::after {
  content: url("../img/header/nav__arrow.svg");
  margin-left: 10px;
  transition: .5s;
}

.btn__arrow:hover {
  color: #664B42;
}

.btn__arrow:hover::after {
  transition: .5s;
  content: url("../img/section__1/arr-hov.svg");
}

.section__2 {
  margin-top: -120px;
}

.container {
  max-width: 1800px;
}

.item__row {
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}

.item {
  background: #F4EEE5;
  border-radius: 8px;
  margin-top: 20px;
  max-width: 265px;
  max-height: 300px;
}

.item__inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.item__img {
  max-width: 280px;
  max-height: 230px;
  margin-top: -35px;
}

.item__img img {
  object-fit: cover;
  top: 0;
  left: 0;
}

.item__name {
  display: flex;
  align-items: center;
  margin: 40px;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 26px;
  line-height: 110%;
  text-align: center;
  color: #1C1616;
  transition: all .5s;
  position: relative;
}

.item__name::after {
  content: url("../img/section__2/item__arr.svg");
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.item__name:hover {
  color: #FD9F32;
}

.item__name:hover::after {
  transition: all .5s;
  opacity: 1;
  visibility: visible;
  margin-left: 15px;
  position: relative;
}

.section__3 {
  margin-top: 140px;
}

.section__3 .section__img {
  z-index: 5;
  position: relative;
}

.section__3 .container {
  max-width: 1320px;
}

.section__3 .section__title {
  position: relative;
}

.section__3 .section__title:before {
  content: url("../img/section__3/line__bef.svg");
  position: absolute;
  bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 95px;
  right: 0;
}

.section__3 .section__content {
  position: relative;
}

.section__3 .section__content::after {
  content: url("../img/section__3/line__aft.svg");
  position: absolute;
  left: 95px;
  padding-top: 70px;
  z-index: 0;
}

.h3__title {
  font-family: 'Mulish';
  font-weight: 800;
  font-size: 44px;
  line-height: 100%;
  text-align: center;
  color: #664B42;
}

.section__row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section__content {
  max-width: 300px;
}

.section__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
}

.section__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  margin-top: 20px;
}

.section__btn {
  width: 298px;
  height: 54px;
  margin-top: 50px;
}

.section__4 {
  margin-top: 140px;
  background: #F7F7F7;
  position: relative;
  background: url("../img/section__4/bg.png");
}

.section__4 .section__content {
  max-width: unset;
  padding-left: 80px;
}

.section__4 .section__row {
  justify-content: unset;
}

.section__5 {
  margin-top: 210px;
}

.section__5 .container {
  max-width: 1320px;
  position: relative;
}

.section__5 .container::after {
  content: url("../img/section__5/line__aft.svg");
  position: absolute;
  left: 123px;
}

.section__5 .section__content {
  position: relative;
}

.section__5 .section__content::before {
  content: url("../img/section__5/line__bef.svg");
  position: absolute;
  top: -345px;
  left: 77px;
}

.section__5 .section__content::after {
  content: url("../img/section__5/line__mid.svg");
  position: absolute;
  padding-top: 40px;
  left: 77px;
}

.item__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.row__item {
  max-width: 433px;
}

.row__img {
  max-height: 120px;
}

.row__content {
  margin-top: 20px;
}

.row__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 110%;
}

.row__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  margin-top: 10px;
}

.section__6 {
  margin-top: 140px;
  background: url("../img/section__4/bg.png");
  transform: rotate(180deg);
}

.section__6 .section__row {
  justify-content: unset;
  align-items: stretch;
  flex-wrap: nowrap;
  transform: rotate(180deg);
}

.section__6 .section__content {
  position: relative;
  max-width: unset;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin-left: 80px;
}

.section__6 .section__content .section__inner {
  position: relative;
}

.section__6 .section__content .section__inner::after {
  content: url("../img/section__6/dop.png");
  position: absolute;
  right: 0;
  top: 10vh;
}

.section__6 .section__text {
  max-width: 450px;
}

.section__7 {
  margin-top: 300px;
}

.section__7 .container {
  max-width: 1320px;
}

.section__7 .section__content {
  max-width: 450px;
  position: relative;
}

.section__7 .section__content::before {
  content: url("../img/section__7/line__bef.svg");
  position: absolute;
  bottom: 268px;
  left: 77px;
}

.section__7 .section__content::after {
  content: url("../img/section__7/line__aft.svg");
  position: absolute;
  left: 77px;
  padding-top: 40px;
}

.section__8 {
  margin-top: 140px;
}

.section__8 .container {
  max-width: 900px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__8 .section__text {
  max-width: 450px;
}

.section__8 .section__section {
  margin-top: 80px;
}

.section__8 .section__section2 {
  margin-top: 40px;
}

.section__8 .section__section-title {
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 26px;
  line-height: 110%;
  color: #50220F;
}

.section__8 .section__section-text {
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: #50220F;
}

.section__8 .section__section-img {
  margin-top: 40px;
}

.section__8 .section__footer {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section__8 .section__footer::before {
  content: url("../img/section__3/line-mob.svg");
  position: absolute;
  top: -100px;
}

.section__8 .yellow__btn {
  margin-top: 20px;
}

.section__10 {
  background: #664B42;
  position: relative;
  padding: 100px 0px;
}

.section__10 .section__row {
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.section__10 .block-l {
  max-width: 320px;
  color: #F4EEE5;
}

.section__10 .block-l .section__text {
  margin-top: 30px;
}

.section__10 .block-l .section__number {
  margin-top: 40px;
}

.section__10 .block-l .section__number .section__text {
  margin-top: 0px;
}

.section__10 .block-l .tel {
  display: block;
  color: #FD9F32;
  font-weight: 700;
  font-size: 26px;
  margin-top: 10px;
}

.section__10 .block-r {
  padding-left: 60px;
  /* для элемента input c type="checkbox" */
  /* для элемента label, связанного с .custom-checkbox */
  /* создание в label псевдоэлемента before со следующими стилями */
  /* стили при наведении курсора на checkbox */
  /* стили для активного чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
}

.section__10 .block-r .section__form {
  max-width: 900px;
}

.section__10 .block-r .form__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section__10 .block-r .section__inputs {
  display: flex;
  flex-direction: column;
}

.section__10 .block-r .section__inputs input {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  width: 392px;
  height: 58px;
  margin-top: 30px;
  background: #F2EDE6;
  border-radius: 4px;
}

.section__10 .block-r .section__inputs input:first-of-type {
  margin-top: 0px;
}

.section__10 .block-r .textarea {
  width: 430px;
  height: 238px;
  background: #F2EDE6;
  border-radius: 4px;
  margin-left: 45px;
  padding: 17px 0px 0px 24px;
}

.section__10 .block-r .form__footer {
  margin-top: 30px;
}

.section__10 .block-r .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.section__10 .block-r .custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  color: #F4EEE5;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
}

.section__10 .block-r .custom-checkbox + label a {
  text-decoration: underline;
  margin-left: 5px;
}

.section__10 .block-r .custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.section__10 .block-r .custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #F7F7F7;
}

.section__10 .block-r .custom-checkbox:not(:disabled):active + label::before {
  background-color: #FD9F32;
  border-color: #F7F7F7;
}

.section__10 .block-r .custom-checkbox:focus + label::before {
  box-shadow: 0 0 0 0.1rem #FD9F32;
}

.section__10 .block-r .custom-checkbox:focus:not(:checked) + label::before {
  border-color: #F7F7F7;
}

.section__10 .block-r .custom-checkbox:checked + label::before {
  border-color: #F7F7F7;
  background-color: #FD9F32;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.section__10 .block-r .custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.section__10 .block-r .yellow__btn {
  margin-top: 50px;
}

.section__10 .section__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  z-index: 0;
}

.section__10 .section__footer img {
  max-width: 350px;
  max-height: 320px;
}

.footer {
  margin-top: -30px;
  padding-top: 70px;
  background: url("../img/footer/bg.png");
  background-size: cover;
  position: relative;
}

.footer .footer__inner-adap {
  display: none;
}

.footer .footer__content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer .footer__adress {
  display: flex;
  margin-top: 55px;
  max-width: 320px;
}

.footer .footer__adress p {
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: #50220F;
  margin-left: 5px;
}

.footer .footer__adress::before {
  content: url("../img/footer/adress.svg");
  margin-top: -7px;
}

.footer .block__c {
  margin-top: 60px;
}

.footer .footer__nav {
  display: flex;
  align-items: baseline;
}

.footer .footer__list {
  margin-left: 100px;
}

.footer .footer__list:first-of-type {
  margin-left: 0px;
}

.footer .list__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 110%;
  margin-bottom: 8px;
}

.footer .footer__item {
  margin-top: 16px;
}

.footer .footer__item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-decoration-line: underline;
  color: #664B42;
  transition: .5;
}

.footer .footer__item a:hover {
  color: black;
}

.footer .block__r {
  display: flex;
  flex-direction: column;
}

.footer .tel {
  margin-bottom: 5px;
  font-size: 22px;
}

.footer .mail {
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: #664B42;
}

.footer .media {
  margin-top: 16px;
}

.footer .block__r-link a {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  position: relative;
  transition: all .5s;
  margin-top: 24px;
  position: relative;
  color: #664B42;
  margin-top: 24px;
  margin-left: 20px;
}

.footer .block__r-link a::after {
  content: url("../img/footer/aliex.svg");
  position: relative;
  top: 3px;
  padding-left: 10px;
}

.footer .block__r-link a:hover {
  color: #FD9F32;
}

.footer .block__r-link a:hover::after {
  content: url("../img/footer/privacy.svg");
}

.footer .footer__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 43px 0px 50px;
}

.footer .copyright {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #776157;
}

.footer .privacy a {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #FD9F32;
  transition: all .5s;
  position: relative;
}

.footer .privacy a::after {
  content: url("../img/footer/privacy.svg");
  position: relative;
  top: 3px;
  right: 0;
  padding-left: 10px;
}

.footer .privacy a:hover {
  color: #664B42;
}

.footer .privacy a:hover::after {
  transition: .5s;
  content: url("../img/footer/privacy-hov.svg");
}

@media (max-width: 1670px) {
  .section__1 .container {
    display: flex;
    flex-direction: column;
  }
  .section__1 .title__block {
    justify-content: center;
  }
  .section__1 .section__1-content {
    flex-direction: unset;
    max-width: 1170px;
    align-items: center;
    margin-top: 40px;
    padding-left: unset;
  }
  .section__1 .description {
    margin-top: unset;
    max-width: 500px;
    margin-left: 100px;
  }
  .section__1 iframe.yt-video {
    width: 500px;
    height: 280px;
  }
}

@media (max-width: 1320px) {
  .section__5 .item__row {
    margin-top: 60px;
  }
  .section__5 .row__inner {
    text-align: center;
  }
  .section__5 .container::after,
  .section__5 .section__content::before,
  .section__5 .section__content::after {
    content: unset;
  }
}

@media (max-width: 1250px) {
  .header .block__l, .header .block__r {
    width: 250px;
  }
  .section__1 .swiper__cards {
    width: 900px;
    min-height: 370px;
  }
  .section__1 .swiper__cards .card {
    width: 900px;
    min-height: 350px;
  }
  .section__1 .section__1-content {
    max-width: 850px;
  }
  .section__1 iframe.yt-video {
    width: 420px;
    height: 230px;
  }
  .section__1 .description {
    margin-left: 50px;
  }
  .section__3 .section__title:before {
    content: unset;
  }
  .section__3 .section__content::after {
    content: unset;
  }
  .section__3 .section__row {
    position: relative;
    padding-top: 40px;
  }
  .section__3 .section__row::before {
    content: url("../img/section__3/line-mob.svg");
    position: absolute;
    top: 10px;
  }
  .section__3 .section__row::after {
    content: url("../img/section__3/line-mob.svg");
    position: absolute;
    bottom: -90px;
  }
  .section__6 .section__content .section__inner::after {
    top: 26vh;
  }
  .section__7 {
    margin-top: 240px;
  }
  .section__7 .section__content::before {
    content: url("../img/section__7/line__bef-adap.svg");
    bottom: 270px;
    left: 200px;
  }
  .section__7 .section__content::after {
    content: url("../img/section__7/line__aft-adap.svg");
    left: 200px;
  }
  .section__10 .block-l {
    max-width: unset;
    display: flex;
    margin-bottom: 60px;
  }
  .section__10 .block-l .section__number {
    margin-top: 0px;
  }
  .section__10 .block-r .form__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section__10 .block__body {
    max-width: 555px;
  }
  .footer .footer__inner {
    display: none;
  }
  .footer .block__c {
    margin-top: 0px;
  }
  .footer .footer__inner-adap {
    display: block;
  }
  .footer .footer__inner-adap .footer__footer,
  .footer .footer__inner-adap .footer__content,
  .footer .footer__inner-adap .footer__body {
    justify-content: space-around;
  }
  .footer .footer__inner-adap .footer__body {
    display: flex;
    align-items: baseline;
  }
  .footer .footer__list {
    margin-left: 50px;
  }
}

@media (max-width: 928px) {
  .section__1 .section__1-content {
    flex-direction: column;
  }
  .section__1 .description {
    max-width: 400px;
    margin-left: 0px;
    margin-top: 40px;
  }
  .section__6 {
    background: #F7F7F7;
  }
  .section__6 .section__row {
    flex-wrap: wrap-reverse;
  }
  .section__6 .section__row::after {
    content: url("../img/section__6/dop.png");
    position: absolute;
    right: 0;
    bottom: -220px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .section__6 .section__img {
    position: relative;
    z-index: 1;
  }
  .section__6 .section__content {
    padding: 20px;
    margin-left: 0px;
  }
  .section__6 .section__content .section__inner::after {
    content: unset;
  }
  .section__6 .section__content .section__text {
    max-width: none;
  }
  .section__7 {
    margin-top: 300px;
  }
  .section__7 .container {
    position: relative;
  }
  .section__7 .container::before {
    content: url("../img/section__3/line-mob.svg");
    position: absolute;
    left: 50vw;
    top: -60px;
  }
  .section__7 .container::after {
    content: url("../img/section__3/line-mob.svg");
    position: absolute;
    left: 50vw;
    padding-top: 40px;
  }
  .section__7 .section__content::before,
  .section__7 .section__content::after {
    content: unset;
  }
  .section__10 .block-l {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .section__10 .block-l .section__number {
    margin-top: 20px;
  }
  .section__10 .block-r {
    padding-left: 0px;
  }
  .section__10 .block-r .section__inputs input {
    width: 430px;
  }
  .section__10 .block-r .form__row {
    flex-direction: column;
    align-items: center;
  }
  .section__10 .block-r .textarea {
    margin-top: 60px;
    margin-left: 0px;
  }
  .section__10 .block-r .custom-checkbox + label {
    flex-direction: column;
    position: relative;
    align-items: unset;
  }
  .section__10 .block-r .custom-checkbox + label::before {
    position: absolute;
    left: -35px;
  }
  .section__10 .block-r .custom-checkbox + label a {
    margin-left: 0px;
  }
  .section__10 .section__footer img {
    max-width: 200px;
    max-height: 200px;
  }
}

@media (max-width: 820px) {
  .section__1 .swiper__cards {
    width: 700px;
    min-height: 290px;
  }
  .section__1 .swiper__cards .card {
    width: 700px;
    min-height: 290px;
  }
  .section__1 .card__swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 3%;
  }
  .footer__inner-adap {
    display: none !important;
  }
  .footer__inner-mobile {
    display: block !important;
  }
  .footer__inner-mobile .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__inner-mobile .media__inner {
    display: flex;
    justify-content: center;
  }
  .footer__inner-mobile .block__r-link {
    display: flex;
    justify-content: center;
  }
  .footer__inner-mobile .footer__mobile {
    text-align: center;
  }
  .footer__inner-mobile .footer__adress {
    text-align: left;
    margin-top: 50px;
  }
  .footer__inner-mobile .footer__mobile__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__inner-mobile .privacy {
    margin-top: 40px;
  }
  .footer__inner-mobile .copyright {
    margin-top: 15px;
  }
  .footer__inner-mobile .accordion {
    margin-top: 25px;
  }
  .footer__inner-mobile .accordion .transition, .footer__inner-mobile .accordion ul li i:before, .footer__inner-mobile .accordion ul li i:after, .footer__inner-mobile .accordion p, .footer__inner-mobile .accordion a {
    transition: all 0.25s ease-in-out;
  }
  .footer__inner-mobile .accordion .no-select, .footer__inner-mobile .accordion h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .footer__inner-mobile .accordion h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    display: block;
    margin: 0;
    cursor: pointer;
  }
  .footer__inner-mobile .accordion p {
    color: #664B42;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
  }
  .footer__inner-mobile .accordion a {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    background-color: #F7F7F7;
    display: block;
    color: #664B42;
    margin-top: 10px;
    height: 45px;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  .footer__inner-mobile .accordion ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  .footer__inner-mobile .accordion ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-bottom: 1px dotted #664B42;
  }
  .footer__inner-mobile .accordion ul li:nth-of-type(1) {
    animation-delay: 0.5s;
  }
  .footer__inner-mobile .accordion ul li:nth-of-type(2) {
    animation-delay: 0.75s;
  }
  .footer__inner-mobile .accordion ul li:nth-of-type(3) {
    animation-delay: 1s;
  }
  .footer__inner-mobile .accordion ul li:last-of-type {
    padding-bottom: 0;
  }
  .footer__inner-mobile .accordion ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 3px;
    right: 25px;
  }
  .footer__inner-mobile .accordion ul li i:before, .footer__inner-mobile .accordion ul li i:after {
    content: "";
    position: absolute;
    background-color: #FD9F32;
    width: 4px;
    height: 18px;
  }
  .footer__inner-mobile .accordion ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  .footer__inner-mobile .accordion ul li i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
  .footer__inner-mobile .accordion ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  .footer__inner-mobile .accordion ul li input[type=checkbox]:checked ~ p, .footer__inner-mobile .accordion ul li input[type=checkbox]:checked ~ a {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  .footer__inner-mobile .accordion ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(10px, 0) rotate(45deg);
  }
  .footer__inner-mobile .accordion ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
  @keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }
}

@media (max-width: 810px) {
  .section__3 .section__row,
  .section__5 .section__row {
    flex-wrap: wrap-reverse;
    justify-content: left;
    padding-top: 100px;
  }
  .header__mobile {
    position: relative;
    z-index: 100;
    display: block;
  }
  .header__mobile .flex__row {
    align-items: center;
  }
  .header__mobile a.cart {
    display: block;
    margin-right: 20px;
  }
  .header__mobile .header__mobile__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;
  }
  .header__mobile .header__mobile__footer .tel {
    margin-top: 20px;
    position: relative;
  }
  .header__mobile .header__mobile__footer .tel::after {
    content: url("../img/header/phone.svg");
    position: absolute;
    top: 0;
    right: -25px;
  }
  .header__mobile .dropdown__body {
    width: 100%;
  }
  .header__mobile .dropdown__list {
    flex-direction: column;
    align-items: baseline;
    padding: 0px 12px;
  }
  .header__mobile .list__body {
    background-color: #F7F7F7;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
    height: 55px;
  }
  .header__mobile .list__body img {
    padding: 0px 10px;
  }
  .section__3 .section__row::before {
    top: 25px;
    left: 50vw;
  }
  .section__3 .section__row::after {
    bottom: -125px;
    left: 50vw;
  }
  .section__4 {
    background-size: cover;
  }
  .section__4 .section__row {
    flex-wrap: wrap;
  }
  .section__4 .section__video__inner {
    width: 100%;
  }
  .section__4 .section__video__inner iframe.section__video {
    width: 100%;
  }
  .section__4 .section__content {
    padding: 20px;
    max-height: 360px !important;
  }
  .section__5 {
    margin-top: unset;
  }
  .section__5 .container {
    position: relative;
  }
  .section__5 .container::before {
    content: url("../img/section__3/line-mob.svg");
    top: 25px;
    left: 50vw;
    position: absolute;
  }
  .section__5 .container::after {
    content: url("../img/section__3/line-mob.svg");
    bottom: -125px;
    left: 50vw;
    position: absolute;
  }
  .section__6 .section__content .section__inner::after {
    content: unset;
  }
  .section__7 .section__row {
    flex-wrap: wrap-reverse;
    justify-content: left;
  }
  .navbar {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  .header__container {
    display: none !important;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  .navbar .nav-container li {
    list-style: none;
    border-bottom: 1px solid #664B42;
  }
  .navbar .nav-container a {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    color: #664B42;
  }
  .navbar .nav-container a:hover {
    font-weight: bolder;
  }
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .burger__body {
    position: fixed;
    height: 100%;
    width: 106%;
    transform: translate(-150%);
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    overflow: auto;
    background-color: #FFFFFF;
  }
  .burger__body .burger__list {
    padding-top: 20px;
  }
  .burger__header {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .navbar .burger__body li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0.6rem;
  }
  .nav-container input[type="checkbox"]:checked ~ .burger__body {
    transform: translateX(0);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}

@media (max-width: 720px) {
  .section__1 .swiper__cards {
    width: 500px;
    min-height: 210px;
  }
  .section__1 .swiper__cards .card {
    width: 500px;
    min-height: 210px;
  }
  .section__1 .title__block {
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .section__1 .title__block img {
    max-width: 100px;
  }
  .section__1 .title__block .title {
    font-size: 30px;
  }
  .section__1 .card__title {
    font-size: 22px;
    margin-top: 0px;
  }
  .section__1 .card__text {
    font-size: 18px;
    margin-top: 5px;
  }
  .section__1 .yellow__btn {
    width: 180px;
    height: 50px;
    font-size: 14px;
    margin-top: 15px;
  }
}

@media (max-width: 530px) {
  .section__title {
    font-size: 26px;
  }
  .section__text {
    font-size: 16px;
  }
  .section__1 .swiper__cards {
    width: 350px;
    min-height: 480px;
  }
  .section__1 .swiper__cards .card {
    width: 350px;
    min-height: 480px;
  }
  .section__1 .title__block {
    margin-bottom: 0px;
  }
  .section__1 .title__block .title {
    width: min-content;
  }
  .section__1 .card {
    justify-content: unset;
    align-items: center;
    padding-top: 110px;
  }
  .section__1 .card__body {
    margin-left: 0px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section__1 .card__swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 7%;
  }
  .card1 {
    background: url("../img/section__1/card1__bg-mob.png");
  }
  .card2 {
    background: url("../img/section__1/card2__bg-mob.png");
  }
  .section__10 .block-r .section__inputs input {
    width: 350px;
  }
  .section__10 .block-r .textarea {
    width: 350px;
    height: 180px;
    margin-top: 30px;
  }
  .section__10 .block-r .custom-checkbox + label {
    font-size: 16px;
  }
  .section__10 .block-r .custom-checkbox + label::before {
    top: 5px;
  }
  .section__10 .section__footer img {
    max-width: 150px;
    max-height: 150px;
  }
  .footer .footer__logo {
    max-width: 35%;
  }
}

@media (max-width: 470px) {
  .section__1 iframe.yt-video {
    width: 280px;
    height: 150px;
  }
  .burger__body {
    width: 110%;
  }
}

@media (max-width: 380px) {
  .logo {
    max-width: 170px;
  }
  .section__1 .swiper__cards {
    width: 250px;
    min-height: 330px;
  }
  .section__1 .swiper__cards .card {
    width: 250px;
    min-height: 330px;
  }
  .section__1 .title__block .title {
    font-size: 20px;
  }
  .section__1 .description__autog {
    max-width: 50%;
  }
  .h3__title {
    font-size: 36px;
  }
  .section__10 .block-r .section__inputs input {
    width: 250px;
  }
  .section__10 .block-r .textarea {
    width: 250px;
  }
}
